# Server Runtime configuration
PORT=3000

# PostgreSQL Database Credentials
DB_USER=postgres
DB_HOST=localhost
DB_NAME=medical_booking
DB_PASSWORD=replace_with_your_actual_local_postgres_password
DB_PORT=5432
